<% @body_id = 'home-page' %>

<div id="app">
  {{ message }}
</div>

<div data-hook="homepage_products">
  <% cache(cache_key_for_products) do %>
    <%= render 'spree/shared/products', products: @products %>
  <% end %>
</div>

